<!DOCTYPE html>

<html>

<head>
    <title>Chat App</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles1.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portraitMe" src="/img/me.jpg">
        <div class="centered-form">
           
                <p><b><u>About the developer:</u></b></p> 
                <p>Build by Abhishek. Current working as a full stack developer.</p>
                <p><b><u>About the Webiste:</u></b></p>
                <p>This website is built in MERN stack.</p> 
                <p>version 1.0</p> 
           
        </div>
    </div>
    {{>footer}}
</body>

</html>